.new_index {
  background-image: url('https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/bgQUBbZ14hfeb975yZ2YzTnAwen.jpg');
}
.new_index {
    min-height: 300px;
    height: calc(100vh / 2.5);
    max-height: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
.media {
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.column_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}
.content_wrapper {
    max-width: 1400px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}
div.title {
    width: 100%;
    margin-bottom: 20px;
}
.title h2 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1;
}
section.new_index h3 {
    font-size: 2em;
    font-weight: 600;
    margin: 0;
}
 div.search {
    width: 100%;
}
form input {
    width: 95vw;
    height: 46px;
    line-height: 46px;
    font-size: 1.1em;
    color: rgba(0,0,0,0.5);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
}
  
form button{
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 46px;
    padding: 10px 26px;
    border: none;
    background: linear-gradient(to right, rgba( 30,213,169, 1) 0%, rgba(1,180,228, 1) 100%);
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: -1px;
    color: #fff;
}